/* Project Styles */
// TODO: add top margin to subcat text
// dimensions
$width_page: 1120px;
$width_menu: 200px;
$width_menu_left_margin: 50px;
$width_menu_right_margin: 20px;
$width_menu_padding: 12px;
$width_content: $width_page - ($width_menu + $width_menu_left_margin + $width_menu_right_margin + 2 * $width_menu_padding);

$width_search_form: $width_menu - ($width_menu_padding);

$height_header: 386px;
$height_header_home: 497px;

$height_productPrice: 3em;
$height_productID: 2.2em;
$height_productSpecsList_line: 1.4em;
$height_productSpecsList_top: $height_productPrice - $height_productID - (($height_productSpecsList_line - 1em) / 2);

// colors

$color_bg: #fdfdfd;

$color_text: #101010;
$color_h2: lighten($color_text, 20%);
$color_p_home: lighten($color_h2, 20%);
$color_search_text: #555;

$color_border: #cccccc;

$color_a: #111;
$color_a_hover: blue;
$color_a_visited: purple;

$color_button_bg: #b8b8b8;
$color_button_bg_hover: darken($color_button_bg, 20%);
$color_submit_text_hover: white;
$color_submit_text: darken($color_submit_text_hover, 20%);
$color_submit_border: black;
$color_submit_border_top: lighten($color_submit_border, 30%);

$color_navTop_bg: #cdcccc;
$color_navTop_text: #222;
$color_navTop_a: black;
$color_navTop_a_hover: lighten($color_navTop_a, 20%);
$color_navTop_bg_hover: lighten($color_navTop_bg, 10%);

$color_menu_bg: #101010;
$color_menu_text: white;
$color_menu_product_bg: #555555;
$color_navMenuCategoryHover_text: darken($color_menu_text, 30%);
$color_navMenuCategoryHover_bg: darken($color_menu_bg, 20%);
$color_navMenuSubHover_text: darken($color_menu_text, 20%);
$color_navMenuSubHover_bg: darken($color_menu_product_bg, 20%);
// $color_navMenuSubActive: #156F15;
// $color_navMenuSubActive: #15676F;
$color_menu_a: white;
$color_menu_a_hover: #999;


$color_footer_border: black;
$color_footerBox_bg: #f0f0f0;
$color_footerBox_link: #454545;
$color_footerBox_hover: darken($color_footerBox_link, 20%);
$color_footerBox_text: #333333;
$color_contactInfo_text: white;
$color_contactInfo_hover: darken($color_contactInfo_text, 30%);

$color_cat_home: #313131;
$color_headingsCat_a_hover: lighten($color_cat_home, 20%);

$color_breadcrumb: $color_cat_home;
$color_breadcrumb_hover: lighten($color_breadcrumb, 20%);

$color_productList_text: #6b6b6b;
$color_productList_hover: darken($color_productList_text, 20%);
$color_productList_border: #cdcdcd;
$color_productList_border_red: 205;
$color_productList_border_green: 205;
$color_productList_border_blue: 205;

$color_productImage_border: gray;

$color_productSpecs_text: #313131;
$color_productSpecs_a: $color_productSpecs_text;
$color_productSpecs_a_hover: lighten($color_productSpecs_a, 20%);
$color_product_text: #454545;
$color_productExtras_h: $color_productSpecs_text;
$color_productExtras_text: #77787b;
$color_productExtras_list_border_sides: #cbcbcb;
$color_productExtras_list_border_top: #8f8f8f;

$color_page_bg: $color_menu_product_bg;
$color_page_border: #404040;
$color_page_text: black;

// categories
$color_cat_boat: #0072b8;
$color_cat_cable: #fcc300;
$color_cat_farm: #1b962b;
$color_cat_pocket: #7d3f0c;
$color_cat_promo: #ff00fe;
$color_cat_sos: #e3001b;

// product
$color_product_specs_border: $color_border;

$background_button: black left top url('images/button_bg.png') repeat-x;
$background_button_hover: gray left top url('images/button_flipped_bg.png') repeat-x;
$background_footer: $color_footer_border url('images/footer_bg.png') repeat-x;

$background_white: white url('images/bg_white.png');

// mixins

@mixin transparent_background_color($red:255, $green:255, $blue:255, $alpha:0.5) {
  background-color: rgb($red, $green, $blue);
  background-color: rgba($red, $green, $blue, $alpha);
}

@mixin min_height($size:200px) {
   min-height: $size; 
   height:auto !important; 
   height: $size; 
}

@mixin box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flat_list_with_divider($spacing: 0.5em, $divider: "|") {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    margin: 0;
    margin-right: $spacing;
    padding: 0;
    float: left;
    &:after {
      margin: 0;
      padding: 0;
      margin-left: $spacing;
      content: $divider;
    }
    &:last-child {
      // margin: 0;
      // padding: 0;
      margin-right: 0;
        &:after {
        content: "";
        margin-left: 0;
      }
    }
  }
}

@mixin flat_list_with_border($border: 1px solid gray, $spacing: 1em) {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    margin: 0;
    margin-right: $spacing;
    // margin-right: $spacing;
    padding: 0;
    float: left;
    border-right: $border;
    &:last-child {
      border-width: 0;
      margin-right: 0;
    }
  }
}

@mixin opacity($percent: 50) {
  zoom: 1;
  filter: alpha(opacity = $percent);
  opacity: $percent / 100;
}

@mixin anythingSlider($width:700px, $height:390px) {
  width: $width + 2px;
  height: $height + 2px;
  list-style: none;
  /* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
  overflow-y: auto;
  overflow-x: hidden;
  .prodThumbContainer {
    width: $width;
    height: $height;
  }
  li {
    width: $width;
    height: $width;
    // margin-right: 10px;
    // &:last-child {
    //   margin-right: 10px;
    // }
  }
  img {
    width: $width;
    height: $height;
  }
}

// @mixin jcarousel_horizontal($image_width:100px, $image_height:100px, $count:1, $margin_right:10px) {
//   $container_width: $count * ($image_width + $margin_right);

//   .productListCarouselAccessories {
//   }

//   img {
//     width: $image_width;
//     height: $image_height;
//   }

//   .jcarousel-container {
//     border-width: 0;
//     background-color: transparent;
//     ul {
//       width: 99999px !important;
//     }
//     li {
//       margin: 0 $margin_right 0 0;
//     }
//   }

//   .jcarousel-container-horizontal {
//     width: $container_width;
//     height: $image_height;
//     padding: 0 40px;
//   }

//   .jcarousel-clip-horizontal {
//     // border: 1px solid $color_border; // border around image
//     width: $container_width;  // set to image width to only show one at a time
//     height: $image_height;
//   }

//   .jcarousel-item {
//     width: $image_width;
//     height: $image_height;
//   }

//   // buttons
//   .jcarousel-next-horizontal, .jcarousel-prev-horizontal {
//     top: $image_height/2 - 20px;
//   }
// }

/* universal */

aside,
details,
footer,
header,
nav,
section {
  display: block;
}

html {
  overflow-y: auto;
  /*padding-top: 0;*/
  /*margin-top: 0;*/
}

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  background: $color_bg;
}

section {
  overflow: auto;
}

/*textarea {
  resize: vertical;
}*/

img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

ul, li { // clear qs_styles
  margin: 0;
  padding: 0;
}

/* typography */

html {
  font-size: 16px;
  text-align: left;
}

body {
  font-size: 62.5%; /* 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: $color_text;
}

h1, h2, h3, h4, h5, h6 {
 /* color: ;
  font-family: ;*/
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

p {
 /* color: ;
  font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0;
}

h1 {
  font-size: 3em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/
  // font-weight: bold;
}

h2 { // TODO: get correct font
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: -1px;
  /*text-align: left;*/
  // font-weight: bold;
  color: $color_h2;
  /*display: block;*/
}

h3 {
  font-size: 1.8em;
  line-height: 1.6em;
  /*color: ;*/
  // font-weight: bold;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

h4,
h5,
h6 {
  font-size: 1.8em;
  line-height: 1.5em;
}

// p, li, span {
//   color: $color_p;
// }

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  // font-size: 1.2em;
  /*line-height: 1.3em;*/
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
  /*color: ;*/
}

a {
  &:link {
    color: $color_a;
  }
  &:visited {
    color: $color_a_visited;
  }
  &:hover {
    color: $color_a_hover;
  }
  &:active {
    color: $color_a_hover;
  }
}

/* General */

.clearfixScss {
  clear:both;
  overflow: hidden;
}
.clearfixScss:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  width: $width_page;
  margin: 0 auto;
  position: relative;
  table {
    margin: 0 auto;
  }
  @extend .clearfixScss;
}

.containerInner {
  width: 100%;
}

$color_button_text: white;
$color_button_text_hover: darken($color_button_text, 20%);

.button {
  margin: 0;
  padding: 0.4em 0.6em;
  display: inline-block;
  font-size: 1.4em;
  // text-shadow: 1px 1px 1px gray;
  font-weight: bold;
  background: $color_button_bg;
  border-radius: 0.3em;
  color: $color_button_text;
  &:link {
    text-decoration: none;
    color: $color_button_text;
  }
  &:hover {
    text-decoration: none;
    background: $color_button_bg_hover;
    color: $color_button_text_hover;
  }
  &:visited {
    text-decoration: none;
    color: $color_button_text;
  }
  &:active {
    text-decoration: none;
  }
}

.submit {
  margin: 0;
  padding: 0.4em 2.9em;
  color: $color_submit_text;
  background: $background_button;
  background-size: auto 100%;
  border: 1px solid black;
  border-top-color: $color_submit_border_top;
  &:hover {
    background: $background_button_hover;
    background-size: auto 100%;
    color: $color_submit_text_hover;
    border-bottom-color: $color_submit_border_top;
  }
}

// pagination
.mpControls {
  padding: 0.3em;
  font-size: 1.3em;
  font-weight: normal;
  font-family: inherit;
  ul li { // page link
    font-size: 1em;
    vertical-align: middle;
    ul { // drop down
      margin-left: 1.5em;
      font-size: 0.9em;
      width: auto;
      // right: 0;
      padding: 0 0.5em;
      // border-color: $color_page_border;
      li {
        padding: 0.2em;
        // color: $color_page_text;
      }
    }
  }
}

.ui-widget-content  {
  a {
    &:link, &:hover, &:visited, &:active {
      color: inherit;
    }
  }
}

// TODO: make compatible with ie; http://css-tricks.com/snippets/css/css-box-shadow/

.shadowBottomOuter {
  -webkit-box-shadow: 0 3px 3px 2px #999;
     -moz-box-shadow: 0 3px 3px 2px #999;
          box-shadow: 0 3px 3px 2px #999;
}

// .shadowBottomInner {
//   -webkit-box-shadow: inset 0 -4px 4px -2px #999;
//      -moz-box-shadow: inset 0 -4px 4px -2px #999;
//           box-shadow: inset 0 -4px 4px -2px #999;
// }

.preload {
  div {
    height: 100px;
    // width: 100px;
  }
}

#appPreView {
  td {
    display: inline-block;
  }
}

/* Header */

header {
  height: $height_header;
  position: relative;
}

$width_headerInner: 90px;
.headerInner {
  width: $width_headerInner;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.headerInnerLeft {
  background: url('images/bg_gradient_left.png') repeat-y;
  background-size: $width_headerInner auto;
  left: 0;
}

.headerInnerRight {
  background: url('images/bg_gradient_right.png') repeat-y;
  background-size: $width_headerInner auto;
  right: 0;
}

.bannerText {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 55;
  // background: url('images/banner_text.bg') no-repeat;
  // display: block;
}

.bannerHome {
  background: url('images/banner_bg_home.png') no-repeat;
  height: $height_header_home;
  // box-shadow: 5px 5px 5px black;
}

.bannerCategoryDefault { /* used when on product template and category skipped */
  background: url('images/banner_bg_default.png') no-repeat;
}

.bannerCategoryBoat {
  background: url('images/banner_bg_boat.png') no-repeat;
}

.bannerCategoryCable {
  background: url('images/banner_bg_cable.png') no-repeat;
}

.bannerCategoryFarm {
  background: url('images/banner_bg_farm.png') no-repeat;
}

.bannerCategoryPocket {
  background: url('images/banner_bg_pocket.png') no-repeat;
}

.bannerCategoryPromo {
  background: url('images/banner_bg_promo.png') no-repeat;
}

.bannerCategorySos {
  background: url('images/banner_bg_sos.png') no-repeat;
}

#homeProdSearchBestSellers {
  @include anythingSlider(300px, 300px);
}

// Anything Slider
.anythingSlider-default {
  $anythingSlider_border: $color_productList_border;
  $anythingSlider_inactive: darken($anythingSlider_border, 20%);
  margin: 0;
  .anythingControls a {
    background: $anythingSlider_border url(AnythingSlider/default.png) center -288px repeat-x;
    &.start-stop, &.start-stop.playing {
      // /* start-stop button, playing, default state */
      background-color: $anythingSlider_border !important;
    }
  }
  .anythingWindow {
    border: 1px solid $anythingSlider_border;
    border-width: 0;
  }
  &.activeSlider .anythingWindow {
    border-color: $anythingSlider_border;
  }
  &.activeSlider {
     // Navigation current & hovered button, active state
    .anythingControls a {
      background-color: $anythingSlider_inactive !important;
      &.cur, &:hover {
        background: $anythingSlider_border;
      }
      &.start-stop {
      // /* start-stop button, stopped, active state */
        background-color: $anythingSlider_inactive !important;
        color: #068500 !important;
        &.playing {
          // /* start-stop button, playing, active state */
          background-color: $anythingSlider_inactive !important;
          color: #B90007 !important;
        }
        &:hover, &.hover {
          //start-stop button, active slider hovered text color (when visible) */
          // color: black;
        }
      }
    }
  }

  // .anythingSlider-default.activeSlider .anythingControls a.start-stop {
  //   background-color: #080;
  //   color: #fff;
  // }
  // .anythingSlider-default.activeSlider .anythingControls a.start-stop.playing {
  //   background-color: #d00;
  //   color: #fff;
  // }
  // /* start-stop button, active slider hovered text color (when visible) */
  // .anythingSlider-default.activeSlider .start-stop:hover,
  // .anythingSlider-default.activeSlider .start-stop.hover {
  //   color: #fff;
  // }
  .arrow a {
    background: url(AnythingSlider/default.png) no-repeat;
  }
  // back arrow
  .back {
    a { 
      background-position: left top;
      &:hover, &.hover { 
        background-position: left -140px;
      }
    }
  }
  // forward arrow
  .forward {
    a { 
      background-position: right top; 
      &:hover, &.hover { 
        background-position: right -140px; 
      }
    }
  }
}


// .anythingSlider {
//   back {}
// }

/* Navigation */

/* Top navigation */

// .navSeparator:after {
//   margin: 0 1em 0 1.1em;
//   content: '/';
//   color: $color_navTop_text;
// }

// .navTopWrapper {
//   padding: 0 7px;
//   display: inline-block;
//   background: #cdcccc; 
// }

// $height_navTop_padding: 0.8em;
$height_navTop_font: 1.2em;
$height_navTop_font_padding_scale: 1.4; 
$height_navTop_font_padding: $height_navTop_font_padding_scale * 1em;
$height_navTop_corner: (2 * $height_navTop_font_padding_scale * $height_navTop_font) + $height_navTop_font; // since padding is 1em

.navTop {
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 55;
  color: $color_navTop_text;
  font-weight: bold;
  div { // ul & social wrapper
    padding: 0 8px;
    height: 100%;
    background: $color_navTop_bg;
  }
  span {
    height: 100%;
    display: inline-block;
  }
  ul {
    @include flat_list_with_divider(1.1em, "/");
    display: inline-block;
  }
  li  {
    height: 100%;
    a {
      height: 100%;
      display: inline-block;
      padding: 0 1em;
      font-size: $height_navTop_font;
    }
  }
  a {
    &:link {
      color: $color_navTop_a;
      text-decoration: none;
    }
    &:visited {
      color: $color_navTop_a;
      text-decoration: none;
    }
    &:hover {
      color: $color_navTop_a_hover;
      text-decoration: none;
      background: $color_navTop_bg_hover;
    }
    &:active {
      color: $color_navTop_a_hover;
      text-decoration: none;
    }
  }
}

$width_navTopLeft: 50px;
.navTopLeft {
  margin: 0;
  padding: 0;
  background: url('images/nav_top_bg_left.png') no-repeat scroll right bottom;
  background-size: contain;
  width: $width_navTopLeft;
  margin-left: -$width_navTopLeft;
  height: 100%;
  // margin-left: -21px;
  // display: inline-block;
  vertical-align: bottom;
  float: left;
}

// li{float:left; width:auto;}

.socialBox {
  margin-left: 5px;
  // float: right;
  // TODO: socialBox fix top extra space
  a { // social icons
    width: 32px;
    height: 100%;
    display: inline-block;
  }
}

.socialIcon {
  a { // facebook & twitter links
    background-position: 50%;
    background-repeat: no-repeat;
    &:hover {
      background-color: $color_navTop_bg_hover;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}

.socialIconFacebook{
  a {
    background-image: url('images/icon_facebook_noshadow.png');
    &:hover {
      background-image: url('images/icon_facebook.png');
    }
  }
}

.socialIconTwitter{
  a {
    background-image: url('images/icon_twitter_noshadow.png');
    &:hover {
      background-image: url('images/icon_twitter.png');  
    }
  }
}

/* Menu navigation */

$menuOffset: -35px;

.sidebar {
  // display: inline-block
  float: left;
  position: relative;
  z-index: 98;
  top: $menuOffset;
  margin-bottom: $menuOffset;
  margin-right: $width_menu_right_margin;
  margin-left: $width_menu_left_margin;
  // background: $color_menu_bg;
  a {
    &:link, &:visited {
      // color: white;
      text-decoration: none;
    }
    &:hover, &:active {
      // color: gray;
      text-decoration: none;
    }
  }
}

.navMenu {
  width: $width_menu;
  padding: $width_menu_padding;
  // color: $color_menu_text;
  background: $color_menu_bg;
  // position: relative;
  h2 {
    margin: 1em 0 0.5em;
    padding: 0;
    color: $color_menu_text;
    font-size: 1.6em;
    line-height: 1em;
    font-weight: bold;
  }
  ul, li {
    list-style: disc inside url('images/bullet.png');
    // display: block;
    margin: 0;
    padding: 0;
  }
  ul {
    // display: block; // breaks onCompletes
    div {
    color: $color_menu_text;
      display: inline-block;
    }
  }
  li {
    margin-bottom: 1em;
    padding: 0.3em;
    font-size: 1.2em;
    text-transform: uppercase;
    // color: $color_menu_text;
  }
  ul li { 
    ul, li {
      list-style: none;
    }
    ul { // submenu list
      // display: none;
      padding: 0.5em 0 0 0;
      // color: $color_menu_text;
      li {
        margin: 0;
        margin-bottom: 0.5em;
        padding: 0;
        // width: auto; // to clear qs_styles
        height: auto; // to clear qs_styles
        display: block;
        background: $color_menu_product_bg;
        font-size: 1.1em;
        text-transform: none;
        &:last-child {
          margin-bottom: 0;
        }
        a { // used by subcategory2LevelList
          display: block;
          padding: 0.3em 0.5em;
          &:link {
            // color: inherit;
          }
          &:hover {
            @extend .navMenuSubHover;
          }
          &:visited {
            color: inherit;
          }
          &:active {
            @extend .navMenuSubActive;
            // color: $color_navMenuSubHover_bg;
          }
        }
      }
    }
  }
}

a.navMenuLink {
  &:link {
    color: $color_menu_a;
    text-decoration: none;
  }
  &:hover {
    color: $color_menu_a_hover;
  }
  &:visited {
    color: $color_menu_a;
  }
  &:active {
    color: $color_menu_a_hover;
  }
}

// move sidebar down to not overlap home banner
.sidebarHome {
  top: $menuOffset + 30px;
  margin-bottom: $menuOffset + 30px;
}

.navMenuCategoryHover {
  color: $color_navMenuCategoryHover_text;
  // background: $color_navMenuCategoryHover_bg;
  // background: blue;
}

.navMenuSubHover {
  color: $color_navMenuSubHover_text;
  background: $color_navMenuSubHover_bg;
}

.navMenuSubActive {
  color: $color_navMenuSubHover_bg;
  // background: $color_navMenuSubHover_bg;
  background: $color_navMenuSubHover_text;
}

.navMenuCurrent {
  &:link {
    @extend .navMenuSubActive;
  }
}


$logoCategoryOffset: -40px;

#logoCategory {
  width: 123px;
  height: 123px;
  position: relative;
  top: $logoCategoryOffset;
  margin: 0 auto ($logoCategoryOffset + 10px);
  // background: white;
  text-align: center;
  a {
    display: block;
    height: 100%;
  }
}

.logoCategoryDefault { /* used when on product template and category skipped */
  background: url('images/logo_cat_default.png') no-repeat;
}

.logoCategoryBoat {
  background: url('images/logo_cat_boat.png') no-repeat;
}

.logoCategoryCable {
  background: url('images/logo_cat_cable.png') no-repeat;
}

.logoCategoryFarm {
  background: url('images/logo_cat_farm.png') no-repeat;
}

.logoCategoryPocket {
  background: url('images/logo_cat_pocket.png') no-repeat;
}

.logoCategoryPromo {
  background: url('images/logo_cat_promo.png') no-repeat;
}

.logoCategorySos {
  background: url('images/logo_cat_sos.png') no-repeat;
}

$width_search_icon: 20px;
$width_search_icon_margin: $width_search_icon + 5px;
.productSearchForm {
  font-size: 1.1em;
  fieldset, input {
    margin: 0;
    padding: 0;
    border-width: 0;
  }
  fieldset {
    display: inline-block;
  }
  input {
    margin: 0 auto;
    display: inline-block;
    &[type="search"] {
      padding: 0.4em;
      width: $width_search_form;
      color: $color_search_text;
    }
    &[type="submit"] {
      margin-left: -$width_search_icon_margin;
      // padding: 0.4em;
      width: $width_search_icon;
      // vertical-align: center;
      // line-height: 1.1em;
      background: transparent url('images/icon_search.png') no-repeat;
      cursor: pointer;
    }
  }
}


$pdfIconSize: 20px;
.pdfLink {
  // width: 30px;
  height: $pdfIconSize;
  margin: 14px 0 0;
  padding-left: $pdfIconSize + 5px;
  display: inline-block;
  background: url('images/icon_pdf.png') no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  line-height: $pdfIconSize;
  // line-height: 1em;
  vertical-align: middle;
}

.wholesaleInfo {
  margin: 10px auto 0;
  background: $color_menu_bg url('images/wholesale_bg.png') no-repeat;
  background-size: cover;
  font-size: 14px;
  // line-height: 1.2em;
  text-align: center;
  // width: 214px;
  width: 100%;
  height: 125px;
  position: relative;
  span {
    display: block;
  }
  a {
    display: block;
    // &:link {
    //   color: white;
    // }
    // &:hover {
    //   color: gray;
    // }
    // &:visited {
    //   color: white;
    // }
    // &:active {
    //   color: gray;
    // }
  }
}

$wholesalePadtop: 10px;

.wholesaleInfoTop {
  height: 85px - $wholesalePadtop;
  padding-top: $wholesalePadtop;
  font-size: 18px;
  font-weight: bold;
  strong {
    font-size: 24px;
  }
}

.wholesaleInfoBottom {
  position: absolute;
  bottom: 3px;
  width: 100%;
}

/* Logo */

.logoTop {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 6;
  display: inline-block;
}

/* Content */

.content {
  /*vertical-align: top;*/
  // width: 800px;
  width: $width_content;
  display: inline-block;
  /*padding-left: 10px;*/
  position: relative;
  z-index: 99;
}

/* Footer */

footer {
  margin-top: 20px;
  font-size: 1em; /* 10px */
  line-height: 1em;
}

.footerBoxesWrapper {
  padding: 1.2em 0;
  background: $background_footer;
  border: 1px solid $color_footer_border;
  @extend .shadowBottomOuter;
}

.footerBox {
  margin: 0 1.2em;
  padding: 0 1.2em;
  width: 12em;
  height: 12em; /*TODO: footer box - maybe add something more fluid;*/
  vertical-align: top;
  display: inline-block;
  background: $color_footerBox_bg;
  color: $color_footerBox_text;
  border-radius: 0.4em;
  /*text-align: center;*/
  h3, h4 {
    margin: 0.2em 0 0.5em;
    padding: 0;
    font-size: 1.5em;
    line-height: 1em;
    /*text-align: left;*/
  }
  li {
    margin: 0 0 0.9em;
    padding: 0;
    // font-size: 1em; /* 10px */
    // line-height: 1em;
    list-style: square inside url("images/arrow_list.png");
    /*text-align: left;*/
  }
  a {
    &:link {
      text-decoration: none;
      color: $color_footerBox_link;
      /*color:;*/
    }
    &:visited {
      text-decoration: none;
      color: $color_footerBox_link;
    }
    &:hover {
      text-decoration: underline;
      color: $color_footerBox_hover;
    }
    &:active {
      text-decoration: none;
      color: $color_footerBox_hover;
    }
  }
}

.contactInfo {
  // display: inline-block;
  float: right;
  text-align: right;
  color: $color_contactInfo_text;
  list-style: none;
  margin-right: 20px;
  li {
    list-style: none;
    line-height: 1.3em;
  }
  a {
    &:link {
      color: inherit;
      text-decoration: underline;
    }
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $color_contactInfo_hover;
      text-decoration: underline;
    }
  }
}

.copyright {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #545454;
  font-size: 1.1em;
  line-height: 3em;
  // padding: 1em 0;
}

/*slideshow*/

$width_slideshow: 700px;
$width_slideshow_left: ($width_page - $width_slideshow) / 2;

/* setting height/width and overflow hidden eliminates popping (all banners showing then hiding) */
#slideshowContainer {
  // position:relative;
  position: absolute;
  top: 70px;
  left: $width_slideshow_left;
  width: $width_slideshow;
  // z-index:10;
  height:400px;
  // min-width:720px;
  // max-width:$width_page;
  // margin:0 auto;
  overflow:hidden;
  z-index:5;
}

#slideshowContainer {
  position: absolute;
}

/* the slides */
#slideshowContainer ul, 
.slideshow li {
  list-style:none;
  margin:0;
  padding:0;
  display:inline;
  float:left;
  } 

#slideshowNav {
  z-index: 50;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width:100%;
  text-align:left;
}

#slideshowNav a {
margin: 0 8px; font-size:.01em;
text-decoration: none;
display:inline-block;
padding: 6px 8px;
border: 1px solid #c0b3ad;
color:#ffffff;
background: #ffffff;
cursor:pointer;
-webkit-border-radius: 8px;
border-radius: 8px;
}

#slideshowNav a:hover, #slideshowNav a.activeSlide {
color:#bfd255;
background: #ea5051;
}
#slideshowNav a:focus { outline: none; }


/* Breadcrumb */

.breadcrumbContainer {
  text-align: right;
}

$breadcrumb_margin: 0.2em;
// $color_breadcrumb: blue;

.breadcrumb {
  text-transform: lowercase;
  display: inline-block;
  @include flat_list_with_divider($breadcrumb_margin, "/");
  li {
  //   margin: 0;
  //   margin-right: $breadcrumb_margin;
  //   padding: 0;
    font-size: 1.1em;
    color: $color_breadcrumb;
  //   // float: left;
  //   // float: right;{float:left; margin:12px; padding:0; display:inline-block;}
    &:after {
  //     margin: 0;
  //     margin-left: 2 * $breadcrumb_margin;
  //     padding: 0;
      color: $color_breadcrumb;
      font-size: 1em;
      font-weight: normal;
  //     content: '/';
  //     float: right;
    }
    a {
      &:link {
        color: $color_breadcrumb;
        text-decoration: none;
      }
      &:hover {
        color: $color_breadcrumb_hover;
      }
      &:visited {
        color: $color_breadcrumb;
      }
      &:active {
        color: $color_breadcrumb_hover;
      }
    }
    &:last-child {
      // margin-right: 0;
      a {
        &:link { 
          font-weight: normal;
        }
        &:hover {
          color: $color_breadcrumb;
        }
      }
    }
  }
}

.breadcrumbProduct {
  li:last-child a {
    cursor: pointer;
    &:hover {
      color: $color_breadcrumb_hover;
    }
  }
}

/* Homepage */

.homepageContainer {
  color: $color_p_home;
  .prodThumbContainer {
    width: 300px;
    height: 300px;
  }
}

.logosCategoryHome {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  ul {
    border: 1px solid $color_border;
    margin: 0;
    padding: 5px;
    display: inline-block;
  }
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 123px;
    height: 123px;
    display: inline-block;
  }
}

$width_carouselHomepage_image: 300px;

.homepageContent {
  .anythingSlider-default {
    display: inline-block;
    margin-right: 20px;
  }
  h2 {
    margin-left: 1.3em;
  }
  // // @include jcarousel_horizontal($width_carouselHomepage_image, $width_carouselHomepage_image, 1, 0);
  // .jcarousel-clip-horizontal {
  // //   border: 1px solid $color_border; // border around image
  // // }
  // .jcarousel-skin-antoniniknives{
  // //   display: inline-block;
  // // }
}

.homepageText {
  // float: right;
  display: inline-block;
  width: 350px;
  text-align: right;
  vertical-align: top;
  font-size: 1.2em;
}

.homepageDescription {
  text-align: left;
}

/* Category & Product */

.headings {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: right;
  border-bottom: 1px solid $color_border;
  div { // extension data bind
    display: inline-block;
  }
  h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: bold;
  }
  h1 { // Category name (categoryTemplate) or Product name (productTemplate)
    font-size: 3.2em;
    display: inline-block;
    // line-height: 1.3em;
    font-weight: normal;
    // color: inherit;
  }
  h2 { // homepage link
    margin-right: 0.2em;
    display: inline-block;
    // font-size: 1.8em;
    color: $color_cat_home;
  }
  h3 { // category name (productTemplate)
    // font-size: 1.8em;
    color: $color_cat_home;
  }
  a {
    &:link {
      text-decoration: none;
    }
  }
  a {
    &:link {
      color: $color_cat_home;
    }
    &:hover {
      color: $color_headingsCat_a_hover;
    }
    &:visited {
      color: $color_cat_home;
    }
    &:active {
      color: $color_headingsCat_a_hover;
    }
  }
  .headingProductSubCategory {
    a:link {
      color: inherit;
    }
    a:hover {
      color: $color_headingsCat_a_hover;
    }
  }
}

.headingProductNavcat {
  display: none;
}

.headingsProduct {
  h1 { // product name
    // text-transform: uppercase;
  }
}

.categoryDefault {
  color: $color_cat_home;
}

.categoryBoat {
  color: $color_cat_boat;
}

.categoryCable {
  color: $color_cat_cable;
}

.categoryFarm {
  color: $color_cat_farm;
}

.categoryPocket {
  color: $color_cat_pocket;
}

.categoryPromo {
  color: $color_cat_promo;
}

.categorySos {
  color: $color_cat_sos;
}

$width_productList_bg: 0.6em;
$width_viewProduct_icon: 1.5em;
$height_productList_h5_padding_top: 0.3em;
$height_productSpecsList_bg: $height_productList_h5_padding_top + $width_productList_bg/2 - 0.1em;
.content {
  .productList, .subCategoryList {
    color: $color_productList_text;
    // padding-top: 10px;
    text-align: center;
    li {
      float: none;
      text-align: left;
    }
    img {
      width: 230px;
      height: 230px;
    }
    p { // description
      font-size: 1.4em;
    }
    // h5, p {
    //   padding: $height_productList_h5_padding_top 0.3em 0.3em $width_productList_bg * 2.2;
    // }
    h6 { // price (not used)
      font-size: 1.3em;
      font-weight: normal;
    }
    // .prodThumbContainer {
    //   border: 1px solid $color_productList_border;
    // }
    // .viewProductLink {
      // font-size: 1.6em;
      // @include transparent_background_color($color_productList_border_red, $color_productList_border_blue, $color_productList_border_green, 0.8);
      // // background: $color_productList_border url('images/icon_search.png') no-repeat;
      // background-image: url('images/icon_search.png');
      // background-repeat: no-repeat;
      // background-size: $width_viewProduct_icon;
      // background-position: 1em center;
      // // color: #6b6b6b;
    // }
  }
  .productList {
    // text-align: center;
    li {
      width: 230px;
      height: 230px;
      // margin: 10px;
      display: inline-block;
      vertical-align: top;
      // text-align: left;
    }
  }
  .productExtras {
    text-align: left;
    .productListProductExtras {
      @include anythingSlider(180px, 180px);
    }
    .productList .prodThumbContainer {
      // border-width: 0;
    }
    .anythingSlider {
      margin-bottom: 20px;
    }
  }
  .subCategoryList {
    li {
      // width: 230px;
      // height: 230px;
      margin: 0 0 10px 0;
      // @include min_height(230px);
      display: block;
      text-align: center;
      // border: 1px solid gray;
    }
    div {
      display: inline-block;
    }
    img {
      width: 200px;
      height: 200px;
    }
    h5, p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    h5 {
      font-weight: bold;
    }
    .subCategory {
      height: 100%;
      display: block;
      div { // thumb and text
        display: inline-block;
      }
    }
    .subCategoryText {
      margin-top: 1em;
      width: 400px;
      vertical-align: top;
      text-align: left;
    }
  }
  .productListCategory {
    padding: 10px 0;
  }
}

.productListWrapper {
  margin-bottom: 40px;
}

.categoryProductHover, .categoryListHover {
  color: $color_productList_hover;
  // @include opacity(80);
  h5 {
    color: $color_productList_hover;
    // @include opacity(100);
  }
  img {
    @include opacity(80);
  }
}

.categoryLogoHover {
  @include opacity(80);
}

.prodThumbContainer {
  position: relative;
  width: 230px;
  height: 230px;
  border: 1px solid $color_productList_border;
  img {
    position: relative;
    z-index: -1;
  }
  .productAttribute {
    margin: 0;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10;
  }
  .productName {
    top: 0;
    // padding: $height_productList_h5_padding_top 0.3em 0.3em $width_productList_bg * 2.2;
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    // background-color: white;
    // background-color: rgba(255,255,255, 0.6);
    @include transparent_background_color(255, 255, 255, 0.8);
    background-image: url('images/arrow_cat.png');
    background-repeat: no-repeat;
    background-size: $width_productList_bg;
    background-position: 0.5em $height_productSpecsList_bg;
    span {
      padding: $height_productList_h5_padding_top 0.3em 0.3em $width_productList_bg * 2.2;
      display: inline-block;
    }
  }
  .viewProductLink {
    bottom: 0;
    padding: 0.6em 0;
    font-size: 1.6em;
    @include transparent_background_color($color_productList_border_red, $color_productList_border_blue, $color_productList_border_green, 0.8);
    // background: $color_productList_border url('images/icon_search.png') no-repeat;
    background-image: url('images/icon_search.png');
    background-repeat: no-repeat;
    background-size: $width_viewProduct_icon;
    background-position: 1em center;
    span { // view product
      margin-left: $width_viewProduct_icon + 1.5em;
      display: inline-block;
    }
  }
}

.categoryPageDescription {
  margin: 10px 0;
  font-size: 1.4em;
  line-height: 1.5em;
}

.categoryDescription {
  p {
    font-size: 1.6em;
  }
  div {
    margin-bottom: 1em;
    @extend .clearfixScss;
  }
}

.categoryImageEven {
  float: left;
  margin-right: 8px;
}

.categoryImageOdd {
  float: right;
  margin-left: 8px;
}

/* Product */

// product specs

.productSpecsContainer {
  @extend .clearfixScss;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 1px solid $color_product_specs_border;
  // border-right-width: 0;
  // border-left-width: 0;
  color: $color_productSpecs_text;
  .breadcrumb {
    float: right;
  }
}

.productSpecsTop {
  // div {
  //   display: inline-block;
  // }
  margin-bottom: 5px;
  .productName {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 2.7em;
    line-height: 1em;
    // text-transform: uppercase;
  }
}

.productSpecsMiddle {
  margin-bottom: 5px;
  text-align: right;
  // display: inline-block;
  // vertical-align: baseline;
  // position: relative; // to make list align bottom
  @extend .clearfixScss;
}

$productSpecsBottom_list_margin: 0.8em;
.productSpecsBottom {
  text-align: right;
  display: block;
  div {
    margin-top: 1.2em;
  }
  span { // error message when product not available
    font-size: 1.2em;
  }
  ul { // review, tell friend, printer friendly
    display: inline-block;
    font-size: 1.3em;
    @include flat_list_with_divider($productSpecsBottom_list_margin);
  }
  a {
    &:link {
      text-decoration: none;
      color: $color_productSpecs_a;
    }
    &:hover {
      color: $color_productSpecs_a_hover;
    }
    &:visited {
      color: $color_productSpecs_a;
    }
    &:active {
      color: $color_productSpecs_a_hover;
    }
  }
}

$productSpecs_margin: 0.8em;
.productSpecsList {
  // margin: 0;
  // padding: 0;
  @include flat_list_with_divider($productSpecs_margin);
  margin-top: $height_productSpecsList_top;
  // display: inline-block;
  font-size: 1.6em;
  line-height: $height_productSpecsList_line;
  float: left;
  width: 700px;
  // position: absolute; // to align bottom with price
  // bottom: 0;
  // left: 0;
  .pretext {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.productID {
  font-size: $height_productID;
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: inline-block;
  &:after {
    content: ":\00a0"
  }
}


.productPrice {
  font-size: $height_productPrice;
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1em;
  display: inline-block;
  // float: right;
}

// .productWeight {
//   &:after {
//     content: ' gr';
//   }
// }

// .productLength {
//   &:after {
//     content: ' mm';
//   }
// }

.prodViewerAddToCartForm {
  font-size: 1.2em;
}

// product view

$width_product_image: 340px + 2px; // image width and border
$width_productImageContainer_margin: 10px;
$width_product_details: $width_content - $width_product_image - $width_productImageContainer_margin - 20px;
.productViewContainer {
  // display: block;
  margin-bottom: 20px;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.productImageContainer {
  display: inline-block;
  vertical-align: top;
  width: $width_product_image;
  height: 100%;
  margin-right: $width_productImageContainer_margin;
}

.productImage {
  img {
    border: 1px solid $color_productImage_border;
  }
  // @include box-sizing;
}

.productImagePrimary {
  margin-bottom: 10px;
}

.prodThumbs {
  text-align: center;
  div {
    display: inline-block;
  }
  .productImage {
    margin: 0 14px 0 0;
  }
  .productImageLast {
    margin: 0;
  }
}

.productDetailsContainer {
  display: inline-block;
  vertical-align: top;
  color: $color_product_text;
  width: $width_product_details;
  height: 100%;
}

.productDetailsList {
  margin: 0 0 3.5em;
  padding: 0;
  list-style: none;
  li {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 0.6em 0;
    padding: 0;
    text-transform: uppercase;
  }
}

.productDescription {
  p {
    font-size: 1.4em;
    line-height: 1.6em;
  }
  ul, li {
    list-style-position: inside;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 1.2em;
  }
}

// .prodTabs { // reviews
//   margin-top: 20px;
// }

/* Wholesale contact form*/
.contactFormWholesale {
  float:left;
  margin: 0 0 12px 12px;
  fieldset {
    border:1px solid #cccccc;
    padding:10px;
  }
  div {
    margin-bottom:5px
  }
  label {
    width:105px;
    display:inline-block;
    margin-right:6px;
    vertical-align:top;
    text-align:right;
  }
  input, textarea {
    width:145px;
  }
  textarea {
    height:125px;
  }
}