/* Project IE Syles */

.wholesaleInfo {
  width: 214px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  /* To fix float stretching 100% */
  /* *width: 0px; */ /* IE 7- */
  *width: 224px;
  /*float: left;*/
}

.logosCategoryHome li {
  *float: left;
}

#homeProdSearchBestSellers {
  *float: left;
  /**width: 400px;*/
}

.homepageText {
  *float: left;
  *margin-top: 20px;
}

.subCategoryList .thumbContainer {
    *width: 200px;
    *float: left;
}

.subCategoryList .subCategoryText {
  *float: left;
}

.productSpecsBottom ul {
  *float: right;
}

.productImageContainer {
  *float: left;
}

.prodThumbs div{
  *float: left;
}

.prodThumbContainer .viewProductLink {
  position: relative;
}