/* # Project Styles */

// dimensions
$width_page: 1120px;
$width_menu: 200px;
$width_menu_left_margin: 50px;
$width_menu_right_margin: 10px;
$width_menu_padding: 12px;
$width_content: $width_page - ($width_menu + $width_menu_left_margin + $width_menu_right_margin + 2 * $width_menu_padding);

$width_search_form: $width_menu - ($width_menu_padding);

$height_header: 374px;
$height_header_home: 492px;

// colors

$color_bg: #fdfdfd;

$color_text: #101010;
$color_h2: #8e8e8e;

$color_a: #111;
$color_a_hover: blue;
$color_a_visited: purple;

$color_navTop_bg: #cdcccc;
$color_navTop_text: #222;
$color_navTop_a: black;
$color_navTop_a_hover: blue;

$color_menu_bg: #101010;
$color_menu_text: white;
$color_menu_product_bg: #565555;
// $color_menu_a: white;
// $color_menu_a_hover: #999;

$color_search_text: #555;
$color_home_h2: #8e8e8e;
$color_home_text: #a6a6a6;

$color_breadcrumb_home: #313131;

$color_page_bg: $color_menu_product_bg;
$color_page_border: #404040;
$color_page_text: black;

// categories
$color_cat_boat: #0072b8;
$color_cat_cable: #fcc300;
$color_cat_farm: #1b962b;
$color_cat_pocket: #7d3f0c;
$color_cat_promo: #ff00fe;
$color_cat_sos: #e3001b;


/* Blue Collar Depot - CSS */

/* universal */

aside,
details,
footer,
header,
nav,
section {
  display: block;
}

html {
  overflow-y: auto;
  /*padding-top: 0;*/
  /*margin-top: 0;*/
}

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  background: $color_bg;
}

section {
  overflow: auto;
}

/*textarea {
  resize: vertical;
}*/

img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* typography */

html {
  font-size: 16px;
  text-align: left;
}

body {
  font-size: 62.5%; /* 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: $color_text;
}

h1, h2, h3, h4, h5, h6 {
 /* color: ;
  font-family: ;*/
  font-weight: bold;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

p {
 /* color: ;
  font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/
  font-weight: normal;
}

h2 { // TODO: get correct font
  font-size: 3em;
  line-height: 1em;
  letter-spacing: -1px;
  /*text-align: left;*/
  font-weight: normal;
  color: $color_h2;
  /*display: block;*/
}

h3 {
  font-size: 1.6em;
  line-height: 1.6em;
  /*color: ;*/
  font-weight: normal;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

h4,
h5,
h6 {
  font-size: 1.3em;
  line-height: 1.5em;
}

// p, li, span {
//   color: $color_p;
// }

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  /*line-height: 1.3em;*/
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
  /*color: ;*/
}

a {
  &:link {
    color: $color_a;
  }
  &:visited {
    color: $color_a_visited;
  }
  &:hover {
    color: $color_a_hover;
  }
  &:active {
    color: $color_a_hover;
  }
}

/* General */

.container {
  width: $width_page; /* TODO: Find correct width */
  margin: 0 auto;
  position: relative;
  table {
    margin: 0 auto;
  }
}

// .displayBlock {
//   display: block;
// }


// TODO: make compatible with ie; http://css-tricks.com/snippets/css/css-box-shadow/

/*.shadowBottomOuter {
  -webkit-box-shadow: 0 3px 3px 2px #999;
     -moz-box-shadow: 0 3px 3px 2px #999;
          box-shadow: 0 3px 3px 2px #999;
}

.shadowBottomInner {
  -webkit-box-shadow: inset 0 -4px 4px -2px #999;
     -moz-box-shadow: inset 0 -4px 4px -2px #999;
          box-shadow: inset 0 -4px 4px -2px #999;
}*/

/* Header */

header {
  height: $height_header;
  // background: url("images/banner_bg_product.png") no-repeat; // TODO: change per category
}

.bannerHome {
  background: url('images/banner_bg_home.png') no-repeat;
  height: $height_header_home;
  // box-shadow: 5px 5px 5px black;
}

.bannerCategoryDefault { /* used when on product template and category skipped */
  background: url('images/banner_bg_default.png') no-repeat;
}

.bannerCategoryBoat {
  background: url('images/banner_bg_boat.png') no-repeat;
}

.bannerCategoryCable {
  background: url('images/banner_bg_cable.png') no-repeat;
}

.bannerCategoryFarm {
  background: url('images/banner_bg_farm.png') no-repeat;
}

.bannerCategoryPocket {
  background: url('images/banner_bg_pocket.png') no-repeat;
}

.bannerCategoryPromo {
  background: url('images/banner_bg_promo.png') no-repeat;
}

.bannerCategorySos {
  background: url('images/banner_bg_sos.png') no-repeat;
}

#slideshowContainer {
  position: absolute;
  top: 0;
}

/* Navigation */

/* Top navigation */

// .navSeparator:after {
//   margin: 0 1em 0 1.1em;
//   content: '/';
//   color: $color_navTop_text;
// }

// .navTopWrapper {
//   padding: 0 7px;
//   display: inline-block;
//   background: #cdcccc; 
// }

.navTop {
  margin: 0;
  padding: 0;
  // margin-left: 21px;
  // height: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 55;
  color: $color_navTop_text;
  /*display: block;*/
  /*background-color: black;*/
  /*TODO: maybe add width/height instead of let elements make dims;*/
  display: inline-block;
  // background: blue url('images/nav_top_bg_left.png') no-repeat;
  // vertical-align: center;
  div { // ul & social wrapper
    padding: 0 7px;
    // margin: auto;
    background: $color_navTop_bg;
    // height: 100%;
    display: inline-block;
  }
  ul, li {
    list-style: none;
  }
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  li  {
    /* BUG: space inbetween li's because newlines turned into whitespace */
    // float: left;
    margin: 0;
    padding: 0;
    // width: auto;
    display:inline-block;
    /*background-color: blue;*/
    color: black;
    a {
      padding: 1em 0.8em;
      font-size: 1.1em;
      line-height: 1em;
      display: inline-block;
    }
    &:after {
      margin: 0 1em 0 1.1em;
      content: '/';
      color: $color_navTop_text;
    }
    &:last-child:after {
      content: "";
    }
  }
  a {
    &:link {
      /*TODO: edit colors*/
      color: $color_navTop_a;
      text-decoration: none;
    }
    &:visited {
      color: $color_navTop_a;
      text-decoration: none;
    }
    &:hover {
      color: $color_navTop_a_hover;
      text-decoration: none;
    }
    &:active {
      color: $color_navTop_a_hover;
      text-decoration: none;
    }
  }
}

.navTopLeft {
  margin: 0;
  padding: 0;
  background: url('images/nav_top_bg_left.png') no-repeat scroll right bottom;
  background-size: contain;
  width: 30px;
  height: 1.1em + 2 * 1em + 0.2em;
  // margin-left: -21px;
  // display: inline-block;
  vertical-align: bottom;
  float: left;
}

// li{float:left; width:auto;}

.socialBox {
  margin-left: 5px;
}

.socialIcon {
  margin: 0;
  width: 32px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  /*z-index: 10;*/
}

.socialIconFacebook{
  background: url('images/icon_facebook.png') no-repeat;
}

.socialIconTwitter{
  background: url('images/icon_twitter.png') no-repeat;
}

/* Menu navigation */

$menuOffset: -35px;

.sidebar {
  // display: inline-block
  float: left;
  position: relative;
  top: $menuOffset;
  margin-bottom: $menuOffset;
  margin-right: $width_menu_right_margin;
  padding-left: $width_menu_left_margin;
  // display: inline-block;
  // top: 340px;
  // left: 30px;
  a {
    &:link, &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover, &:active {
      color: gray;
      text-decoration: none;
    }
  }
}

.navMenu {
  width: $width_menu;
  padding: $width_menu_padding;
  background: $color_menu_bg;
  color: $color_menu_text;
  h2 {
    margin: 0 0 1em;
    padding: 0;
    color: $color_menu_text;
    font-size: 1.6em;
    line-height: 1em;
    font-weight: bold;
  }
  ul, li {
    list-style: disc inside url('images/bullet.png'); /*TODO: add diamond;*/
    // display: block;
    margin: 0;
    padding: 0;
  }
  ul {
    // display: block; // breaks onCompletes
    div {
      display: inline-block;
    }
    // a { // dnw with tier1categories
    //   &:link {
    //     text-decoration: none;
    //   }
    //   &:visited {
    //     color: #333; /*TODO: get right colors*/
    //     text-decoration: none;
    //   }
    //   &:hover {
    //     color: #111; /*TODO: get right colors*/
    //     text-decoration: none;
    //   }
    //   &:active {
    //     text-decoration: none;
    //   }
    // }
  }
  li {
    margin-bottom: 1em;
    padding: 0.3em;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  ul li { 
    ul, li {
      list-style: none;
    }
    ul { // product list
      // display: none;
      padding: 0.5em 0 0 1.1em;
      li {
        margin: 0.1em 0;
        padding: 0.2em 0.5em;
        // width: auto; // to clear qs_styles
        height: auto; // to clear qs_styles
        display: block;
        background: $color_menu_product_bg;
        color: $color_menu_text;
        font-size: 1.1em;
        text-transform: none;
        .appMessage { // hide missing products TODO: find better way to hide errors/missing products
          display: none;
        }
      }
    }
  }
}

$logoCategoryOffset: -40px;

#logoCategory {
  width: 123px;
  height: 123px;
  position: relative;
  top: $logoCategoryOffset;
  margin: 0 auto ($logoCategoryOffset + 10px);
  // background: white;
  text-align: center;
}

.logoCategoryDefault { /* used when on product template and category skipped */
  background: url('images/logo_cat_default.png') no-repeat;
}

.logoCategoryBoat {
  background: url('images/logo_cat_boat.png') no-repeat;
}

.logoCategoryCable {
  background: url('images/logo_cat_cable.png') no-repeat;
}

.logoCategoryFarm {
  background: url('images/logo_cat_farm.png') no-repeat;
}

.logoCategoryPocket {
  background: url('images/logo_cat_pocket.png') no-repeat;
}

.logoCategoryPromo {
  background: url('images/logo_cat_promo.png') no-repeat;
}

.logoCategorySos {
  background: url('images/logo_cat_sos.png') no-repeat;
}

$width_search_icon: 20px;
$width_search_icon_margin: $width_search_icon + 5px;
.productSearchForm {
  // TODO: edit after adding form
  // margin-bottom: 20px;
  // width: 150px;
  // height: 20px;
  // background: white;
  // color: black;
  font-size: 1.1em;
  fieldset, input {
    margin: 0;
    padding: 0;
    border-width: 0;
  }
  fieldset {
    display: inline-block;
  }
  input {
    margin: 0 auto;
    display: inline-block;
    &[type="search"] {
      padding: 0.4em;
      width: $width_search_form;
      color: $color_search_text;
    }
    &[type="submit"] {
      margin-left: -$width_search_icon_margin;
      // padding: 0.4em;
      width: $width_search_icon;
      // vertical-align: center;
      // line-height: 1.1em;
      background: transparent url('images/icon_search.png') no-repeat;
      cursor: pointer;
    }
  }
}


$pdfIconSize: 20px;
.pdfLink {
  // width: 30px;
  height: $pdfIconSize;
  margin: 14px 0 0;
  padding-left: $pdfIconSize + 5px;
  display: inline-block;
  background: url('images/icon_pdf.png') no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  line-height: $pdfIconSize;
  // line-height: 1em;
  vertical-align: middle;
}

.wholesaleInfo {
  margin: 10px auto 0;
  background: url('images/wholesale_bg.png') no-repeat;
  font-size: 14px;
  // line-height: 1.2em;
  text-align: center;
  width: 214px;
  height: 125px;
  span {
    display: block;
  }
  a {
    display: block;
  }
}

$wholesalePadtop: 10px;

.wholesaleInfoTop {
  height: 85px - $wholesalePadtop;
  padding-top: $wholesalePadtop;
  font-size: 18px;
  font-weight: bold;
  strong {
    font-size: 24px;
  }
}

// .wholesaleInfoBottom {
//   // height: 60px;
//   // font-size: 30px;
// }

/* Logo */

.logoTop {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 6;
  display: inline-block;
  /*width: 200px;
  height: 150px;*/
  /*background-color: gray;  TODO: add image bg; */
  /*float: left;*/
}

/*.logoTop a {
  width: 300px;
  height: 125px;
  display: inline-block;
}*/

/* Content */

.content {
  /*vertical-align: top;*/
  // width: 800px;
  width: $width_content;
  display: inline-block;
  /*padding-left: 10px;*/
}

/* Footer */

footer {
  margin-top: 20px;
}

.footerBoxesWrapper {
  padding: 1.2em 3.6em;
  background: #dddddd;
}

.footerBox {
  margin: 0 1.2em;
  padding: 0 1.2em;
  width: 12em;
  height: 12em; /*TODO: maybe add something more fluid;*/
  vertical-align: top;
  display: inline-block;
  background: #f0f0f0;
  color: #454545;
  border-radius: 0.4em;
  /*text-align: center;*/
}

.footerBox h3, 
.footerBox h4 {
  margin: 0.2em 0 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: 1em;
  /*text-align: left;*/
}

.footerBox li {
  margin: 0 0 0.9em;
  padding: 0;
  font-size: 1em; /* 10px */
  line-height: 1em;
  list-style: square inside url("images/arrow_list.png");
  /*text-align: left;*/
}

.footerBox a:link {
  text-decoration: none;
  color: #454545;
  /*color:;*/
}

.footerBox a:visited {
  text-decoration: none;
  color: #454545;
}

.footerBox a:hover {
  text-decoration: none;
  color: black;
}

.footerBox a:active {
  text-decoration: none;
  color: black;
}

.copyright {
  text-align: center;
  color: #545454;
  font-size: 0.9em;
}

/*slideshow*/

/* setting height/width and overflow hidden eliminates popping (all banners showing then hiding) */
#slideshowContainer {
  // position:relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
  height:300px;
  // min-width:720px;
  // max-width:$width_page;
  width: $width_page;
  margin:0 auto;
  overflow:hidden;
  z-index:5;
}
/* the slides */
#slideshowContainer ul, 
.slideshow li {
  list-style:none;
  margin:0;
  padding:0;
  display:inline;
  float:left;
  } 

#slideshowNav {
  z-index: 50;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width:100%;
  text-align:left;
}

#slideshowNav a {
margin: 0 8px; font-size:.01em;
text-decoration: none;
display:inline-block;
padding: 6px 8px;
border: 1px solid #c0b3ad;
color:#ffffff;
background: #ffffff;
cursor:pointer;
-webkit-border-radius: 8px;
border-radius: 8px;
}

#slideshowNav a:hover, #slideshowNav a.activeSlide {
color:#bfd255;
background: #ea5051;
}
#slideshowNav a:focus { outline: none; }

/* Homepage */

#homepageTemplate {
  color: $color_home_h2
}

.logosCategoryHome {
  margin: 0;
  padding: 0;
  // text-align: center;
  ul {
    display: inline-block;
  }
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    a {
      width: 123px;
      height: 123px;
      display: inline-block;
    }
  }
}

/* Category & Product */

.breadcrumb {
  // homepage
  color: $color_breadcrumb_home;
  font-size: 1.3em; 
  margin-bottom: 12px;
  // display: inline-block;
  list-style: none;
  text-align: right;
  // float: right;
  a {
    &:link {
      text-decoration: none;
    }
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    // float: left;
    display: inline-block;
    // vertical-align: bottom;
    // margin:0;
    // padding:0;
    // padding-right: 10px;
    // cursor: pointer;
    &:after {
      margin: 0 0.2em 0 0;
      padding: 0;
      content:":"; 
      font-size: 1em;
      font-weight: normal; 
      color: $color_breadcrumb_home;
    }
    &:last-child:after {
      content:"";
    }
    &:last-child a {
      color: inherit; // to remove qs_styles
      font-size: 2em;
      text-decoration:none;
      font-weight: normal;
      cursor:text;
    }
  }
}

.productTemplateContent {
  .breadcrumb {
    a:hover {
      color: #333;
    }
    li:last-child a {
      cursor: pointer;
    }
  }
}

.breadcrumbCatBoat {
  color: $color_cat_boat;
}

.breadcrumbCatCable {
  color: $color_cat_cable;
}

.breadcrumbCatFarm {
  color: $color_cat_farm;
}

.breadcrumbCatPocket {
  color: $color_cat_pocket;
}

.breadcrumbCatPromo {
  color: $color_cat_promo;
}

.breadcrumbCatSos {
  color: $color_cat_sos;
}

$width_productList_bg: 0.6em;
$width_viewProduct_icon: 1.5em;
.content {
  // TODO: keep images aligned bottom, but align names to top
  .productList {
    color: #6b6b6b;
    li {
      margin-bottom: 30px;
      width: 230px;
      height: auto;
      float: none;
      display: inline-block;
    }
    img {
      width: 230px;
      height: 230px;
    }
    h5 { // name
      padding-left: $width_productList_bg * 1.8;
      font-size: 1.7em;
      font-weight: bold;
      color: #6b6b6b;
      text-transform: uppercase;
      background: url('images/arrow_cat.png') no-repeat;
      background-size: $width_productList_bg;
      background-position: 0 $width_productList_bg/1.8; 
      // background-size: 0.6em;
      // &:before {
      //   content: url('images/arrow_cat.png');
      //   margin-right: 5px;
      // }
    }
    h6 { // price
      font-size: 1.3em;
      font-weight: normal;
    }
    .viewProductLink { // TODO: maybe overlay on top of prodThumbContainer
      margin: 0;
      padding: 0.6em;
      padding-left: $width_viewProduct_icon + 1.5em;
      font-size: 1.6em;
      background: #cdcdcd url('images/icon_search.png') no-repeat;
      background-size: $width_viewProduct_icon;
      background-position: 1em center;
      // color: #6b6b6b;
    }
  }
}

// pagination
.mpControls {
  padding: 0.3em;
  background: $color_page_bg;
  border-color: $color_page_border;
  color: $color_page_text;
  font-size: 1.3em;
  font-weight: normal;
  font-family: inherit;
  a {
    &:link { 
      color: inherit;
      font-weight: bold;
    }
    &:hover {
      color: #FF8800; // TODO: use better color
    }
  }
  ul li { // page link
    font-size: 1em;
    vertical-align: middle;
    ul { // drop down
      margin-left: 1.5em;
      font-size: 0.9em;
      width: auto;
      // right: 0;
      padding: 0 0.5em;
      border-color: $color_page_border;
      li {
        padding: 0.2em;
        color: $color_page_text;
      }
    }
  }
}

.paging { // icons
  border-color: $color_page_border;
}