/* Project Styles */
/* universal */
aside,
details,
footer,
header,
nav,
section {
  display: block; }

html {
  overflow-y: auto;
  /*padding-top: 0;*/
  /*margin-top: 0;*/ }

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  background: #fdfdfd; }

section {
  overflow: auto; }

/*textarea {
  resize: vertical;
}*/
img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

ul, li {
  margin: 0;
  padding: 0; }

/* typography */
html {
  font-size: 16px;
  text-align: left; }

body {
  font-size: 62.5%;
  /* 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: #101010; }

h1, h2, h3, h4, h5, h6 {
  /* color: ;
   font-family: ;*/
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em; }

p {
  /* color: ;
   font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0; }

h1 {
  font-size: 3em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/ }

h2 {
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: -1px;
  /*text-align: left;*/
  color: #434343;
  /*display: block;*/ }

h3 {
  font-size: 1.8em;
  line-height: 1.6em;
  /*color: ;*/
  margin-top: 0.1em;
  margin-bottom: 0.2em; }

h4,
h5,
h6 {
  font-size: 1.8em;
  line-height: 1.5em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  /*line-height: 1.3em;*/ }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 80%;
  /*color: ;*/ }

a:link {
  color: #111111; }
a:visited {
  color: purple; }
a:hover {
  color: blue; }
a:active {
  color: blue; }

/* General */
.clearfixScss, .container, .categoryDescription div, .productSpecsContainer, .productSpecsMiddle {
  clear: both;
  overflow: hidden; }

.clearfixScss:after, .container:after, .categoryDescription div:after, .productSpecsContainer:after, .productSpecsMiddle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  width: 1120px;
  margin: 0 auto;
  position: relative; }
  .container table {
    margin: 0 auto; }

.containerInner {
  width: 100%; }

.button {
  margin: 0;
  padding: 0.4em 0.6em;
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  background: #b8b8b8;
  border-radius: 0.3em;
  color: white; }
  .button:link {
    text-decoration: none;
    color: white; }
  .button:hover {
    text-decoration: none;
    background: #858585;
    color: #cccccc; }
  .button:visited {
    text-decoration: none;
    color: white; }
  .button:active {
    text-decoration: none; }

.submit {
  margin: 0;
  padding: 0.4em 2.9em;
  color: #cccccc;
  background: black left top url("images/button_bg.png") repeat-x;
  background-size: auto 100%;
  border: 1px solid black;
  border-top-color: #4d4d4d; }
  .submit:hover {
    background: gray left top url("images/button_flipped_bg.png") repeat-x;
    background-size: auto 100%;
    color: white;
    border-bottom-color: #4d4d4d; }

.mpControls {
  padding: 0.3em;
  font-size: 1.3em;
  font-weight: normal;
  font-family: inherit; }
  .mpControls ul li {
    font-size: 1em;
    vertical-align: middle; }
    .mpControls ul li ul {
      margin-left: 1.5em;
      font-size: 0.9em;
      width: auto;
      padding: 0 0.5em; }
      .mpControls ul li ul li {
        padding: 0.2em; }

.ui-widget-content a:link, .ui-widget-content a:hover, .ui-widget-content a:visited, .ui-widget-content a:active {
  color: inherit; }

.shadowBottomOuter, .footerBoxesWrapper {
  -webkit-box-shadow: 0 3px 3px 2px #999;
  -moz-box-shadow: 0 3px 3px 2px #999;
  box-shadow: 0 3px 3px 2px #999; }

.preload div {
  height: 100px; }

/* Header */
header {
  height: 386px;
  position: relative; }

.headerInner {
  width: 90px;
  height: 100%;
  position: absolute;
  z-index: 1; }

.headerInnerLeft {
  background: url("images/bg_gradient_left.png") repeat-y;
  background-size: 90px auto;
  left: 0; }

.headerInnerRight {
  background: url("images/bg_gradient_right.png") repeat-y;
  background-size: 90px auto;
  right: 0; }

.bannerText {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 55; }

.bannerHome {
  background: url("images/banner_bg_home.png") no-repeat;
  height: 497px; }

.bannerCategoryDefault {
  /* used when on product template and category skipped */
  background: url("images/banner_bg_default.png") no-repeat; }

.bannerCategoryBoat {
  background: url("images/banner_bg_boat.png") no-repeat; }

.bannerCategoryCable {
  background: url("images/banner_bg_cable.png") no-repeat; }

.bannerCategoryFarm {
  background: url("images/banner_bg_farm.png") no-repeat; }

.bannerCategoryPocket {
  background: url("images/banner_bg_pocket.png") no-repeat; }

.bannerCategoryPromo {
  background: url("images/banner_bg_promo.png") no-repeat; }

.bannerCategorySos {
  background: url("images/banner_bg_sos.png") no-repeat; }

#homeProdSearchBestSellers {
  width: 302px;
  height: 302px;
  list-style: none;
  /* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
  overflow-y: auto;
  overflow-x: hidden; }
  #homeProdSearchBestSellers .prodThumbContainer {
    width: 300px;
    height: 300px; }
  #homeProdSearchBestSellers li {
    width: 300px;
    height: 300px; }
  #homeProdSearchBestSellers img {
    width: 300px;
    height: 300px; }

.anythingSlider-default {
  margin: 0; }
  .anythingSlider-default .anythingControls a {
    background: #cdcdcd url(AnythingSlider/default.png) center -288px repeat-x; }
    .anythingSlider-default .anythingControls a.start-stop, .anythingSlider-default .anythingControls a.start-stop.playing {
      background-color: #cdcdcd !important; }
  .anythingSlider-default .anythingWindow {
    border: 1px solid #cdcdcd;
    border-width: 0; }
  .anythingSlider-default.activeSlider .anythingWindow {
    border-color: #cdcdcd; }
  .anythingSlider-default.activeSlider .anythingControls a {
    background-color: #9a9a9a !important; }
    .anythingSlider-default.activeSlider .anythingControls a.cur, .anythingSlider-default.activeSlider .anythingControls a:hover {
      background: #cdcdcd; }
    .anythingSlider-default.activeSlider .anythingControls a.start-stop {
      background-color: #9a9a9a !important;
      color: #068500 !important; }
      .anythingSlider-default.activeSlider .anythingControls a.start-stop.playing {
        background-color: #9a9a9a !important;
        color: #B90007 !important; }
  .anythingSlider-default .arrow a {
    background: url(AnythingSlider/default.png) no-repeat; }
  .anythingSlider-default .back a {
    background-position: left top; }
    .anythingSlider-default .back a:hover, .anythingSlider-default .back a.hover {
      background-position: left -140px; }
  .anythingSlider-default .forward a {
    background-position: right top; }
    .anythingSlider-default .forward a:hover, .anythingSlider-default .forward a.hover {
      background-position: right -140px; }

/* Navigation */
/* Top navigation */
.navTop {
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 55;
  color: #222222;
  font-weight: bold; }
  .navTop div {
    padding: 0 8px;
    height: 100%;
    background: #cdcccc; }
  .navTop span {
    height: 100%;
    display: inline-block; }
  .navTop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block; }
    .navTop ul li {
      list-style: none;
      margin: 0;
      margin-right: 1.1em;
      padding: 0;
      float: left; }
      .navTop ul li:after {
        margin: 0;
        padding: 0;
        margin-left: 1.1em;
        content: "/"; }
      .navTop ul li:last-child {
        margin-right: 0; }
        .navTop ul li:last-child:after {
          content: "";
          margin-left: 0; }
  .navTop li {
    height: 100%; }
    .navTop li a {
      height: 100%;
      display: inline-block;
      padding: 0 1em;
      font-size: 1.2em; }
  .navTop a:link {
    color: black;
    text-decoration: none; }
  .navTop a:visited {
    color: black;
    text-decoration: none; }
  .navTop a:hover {
    color: #333333;
    text-decoration: none;
    background: #e6e6e6; }
  .navTop a:active {
    color: #333333;
    text-decoration: none; }

.navTopLeft {
  margin: 0;
  padding: 0;
  background: url("images/nav_top_bg_left.png") no-repeat scroll right bottom;
  background-size: contain;
  width: 50px;
  margin-left: -50px;
  height: 100%;
  vertical-align: bottom;
  float: left; }

.socialBox {
  margin-left: 5px; }
  .socialBox a {
    width: 32px;
    height: 100%;
    display: inline-block; }

.socialIcon a {
  background-position: 50%;
  background-repeat: no-repeat; }
  .socialIcon a:hover {
    background-color: #e6e6e6;
    background-position: 50%;
    background-repeat: no-repeat; }

.socialIconFacebook a {
  background-image: url("images/icon_facebook_noshadow.png"); }
  .socialIconFacebook a:hover {
    background-image: url("images/icon_facebook.png"); }

.socialIconTwitter a {
  background-image: url("images/icon_twitter_noshadow.png"); }
  .socialIconTwitter a:hover {
    background-image: url("images/icon_twitter.png"); }

/* Menu navigation */
.sidebar {
  float: left;
  position: relative;
  z-index: 98;
  top: -35px;
  margin-bottom: -35px;
  margin-right: 20px;
  margin-left: 50px; }
  .sidebar a:link, .sidebar a:visited {
    text-decoration: none; }
  .sidebar a:hover, .sidebar a:active {
    text-decoration: none; }

.navMenu {
  width: 200px;
  padding: 12px;
  background: #101010; }
  .navMenu h2 {
    margin: 1em 0 0.5em;
    padding: 0;
    color: white;
    font-size: 1.6em;
    line-height: 1em;
    font-weight: bold; }
  .navMenu ul, .navMenu li {
    list-style: disc inside url("images/bullet.png");
    margin: 0;
    padding: 0; }
  .navMenu ul div {
    color: white;
    display: inline-block; }
  .navMenu li {
    margin-bottom: 1em;
    padding: 0.3em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .navMenu ul li ul, .navMenu ul li li {
    list-style: none; }
  .navMenu ul li ul {
    padding: 0.5em 0 0 0; }
    .navMenu ul li ul li {
      margin: 0;
      margin-bottom: 0.5em;
      padding: 0;
      height: auto;
      display: block;
      background: #555555;
      font-size: 1.1em;
      text-transform: none; }
      .navMenu ul li ul li:last-child {
        margin-bottom: 0; }
      .navMenu ul li ul li a {
        display: block;
        padding: 0.3em 0.5em; }
        .navMenu ul li ul li a:visited {
          color: inherit; }

a.navMenuLink:link {
  color: white;
  text-decoration: none; }
a.navMenuLink:hover {
  color: #999999; }
a.navMenuLink:visited {
  color: white; }
a.navMenuLink:active {
  color: #999999; }

.sidebarHome {
  top: -5px;
  margin-bottom: -5px; }

.navMenuCategoryHover {
  color: #b3b3b3; }

.navMenuSubHover, .navMenu ul li ul li a:hover {
  color: #cccccc;
  background: #222222; }

.navMenuSubActive, .navMenu ul li ul li a:active, .navMenuCurrent:link {
  color: #222222;
  background: #cccccc; }

#logoCategory {
  width: 123px;
  height: 123px;
  position: relative;
  top: -40px;
  margin: 0 auto -30px;
  text-align: center; }
  #logoCategory a {
    display: block;
    height: 100%; }

.logoCategoryDefault {
  /* used when on product template and category skipped */
  background: url("images/logo_cat_default.png") no-repeat; }

.logoCategoryBoat {
  background: url("images/logo_cat_boat.png") no-repeat; }

.logoCategoryCable {
  background: url("images/logo_cat_cable.png") no-repeat; }

.logoCategoryFarm {
  background: url("images/logo_cat_farm.png") no-repeat; }

.logoCategoryPocket {
  background: url("images/logo_cat_pocket.png") no-repeat; }

.logoCategoryPromo {
  background: url("images/logo_cat_promo.png") no-repeat; }

.logoCategorySos {
  background: url("images/logo_cat_sos.png") no-repeat; }

.productSearchForm {
  font-size: 1.1em; }
  .productSearchForm fieldset, .productSearchForm input {
    margin: 0;
    padding: 0;
    border-width: 0; }
  .productSearchForm fieldset {
    display: inline-block; }
  .productSearchForm input {
    margin: 0 auto;
    display: inline-block; }
    .productSearchForm input[type="search"] {
      padding: 0.4em;
      width: 188px;
      color: #555555; }
    .productSearchForm input[type="submit"] {
      margin-left: -25px;
      width: 20px;
      background: transparent url("images/icon_search.png") no-repeat;
      cursor: pointer; }

.pdfLink {
  height: 20px;
  margin: 14px 0 0;
  padding-left: 25px;
  display: inline-block;
  background: url("images/icon_pdf.png") no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle; }

.wholesaleInfo {
  margin: 10px auto 0;
  background: #101010 url("images/wholesale_bg.png") no-repeat;
  background-size: cover;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 125px;
  position: relative; }
  .wholesaleInfo span {
    display: block; }
  .wholesaleInfo a {
    display: block; }

.wholesaleInfoTop {
  height: 75px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold; }
  .wholesaleInfoTop strong {
    font-size: 24px; }

.wholesaleInfoBottom {
  position: absolute;
  bottom: 3px;
  width: 100%; }

/* Logo */
.logoTop {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 6;
  display: inline-block; }

/* Content */
.content {
  /*vertical-align: top;*/
  width: 826px;
  display: inline-block;
  /*padding-left: 10px;*/
  position: relative;
  z-index: 99; }

/* Footer */
footer {
  margin-top: 20px;
  font-size: 1em;
  /* 10px */
  line-height: 1em; }

.footerBoxesWrapper {
  padding: 1.2em 0;
  background: black url("images/footer_bg.png") repeat-x;
  border: 1px solid black; }

.footerBox {
  margin: 0 1.2em;
  padding: 0 1.2em;
  width: 12em;
  height: 12em;
  /*TODO: footer box - maybe add something more fluid;*/
  vertical-align: top;
  display: inline-block;
  background: #f0f0f0;
  color: #333333;
  border-radius: 0.4em;
  /*text-align: center;*/ }
  .footerBox h3, .footerBox h4 {
    margin: 0.2em 0 0.5em;
    padding: 0;
    font-size: 1.5em;
    line-height: 1em;
    /*text-align: left;*/ }
  .footerBox li {
    margin: 0 0 0.9em;
    padding: 0;
    list-style: square inside url("images/arrow_list.png");
    /*text-align: left;*/ }
  .footerBox a:link {
    text-decoration: none;
    color: #454545;
    /*color:;*/ }
  .footerBox a:visited {
    text-decoration: none;
    color: #454545; }
  .footerBox a:hover {
    text-decoration: underline;
    color: #121212; }
  .footerBox a:active {
    text-decoration: none;
    color: #121212; }

.contactInfo {
  float: right;
  text-align: right;
  color: white;
  list-style: none;
  margin-right: 20px; }
  .contactInfo li {
    list-style: none;
    line-height: 1.3em; }
  .contactInfo a:link {
    color: inherit;
    text-decoration: underline; }
  .contactInfo a:visited {
    color: inherit; }
  .contactInfo a:hover {
    color: #b3b3b3;
    text-decoration: underline; }

.copyright {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #545454;
  font-size: 1.1em;
  line-height: 3em; }

/*slideshow*/
/* setting height/width and overflow hidden eliminates popping (all banners showing then hiding) */
#slideshowContainer {
  position: absolute;
  top: 70px;
  left: 210px;
  width: 700px;
  height: 400px;
  overflow: hidden;
  z-index: 5; }

#slideshowContainer {
  position: absolute; }

/* the slides */
#slideshowContainer ul,
.slideshow li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: left; }

#slideshowNav {
  z-index: 50;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  text-align: left; }

#slideshowNav a {
  margin: 0 8px;
  font-size: .01em;
  text-decoration: none;
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid #c0b3ad;
  color: #ffffff;
  background: #ffffff;
  cursor: pointer;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

#slideshowNav a:hover, #slideshowNav a.activeSlide {
  color: #bfd255;
  background: #ea5051; }

#slideshowNav a:focus {
  outline: none; }

/* Breadcrumb */
.breadcrumbContainer {
  text-align: right; }

.breadcrumb {
  text-transform: lowercase;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .breadcrumb li {
    list-style: none;
    margin: 0;
    margin-right: 0.2em;
    padding: 0;
    float: left; }
    .breadcrumb li:after {
      margin: 0;
      padding: 0;
      margin-left: 0.2em;
      content: "/"; }
    .breadcrumb li:last-child {
      margin-right: 0; }
      .breadcrumb li:last-child:after {
        content: "";
        margin-left: 0; }
  .breadcrumb li {
    font-size: 1.1em;
    color: #313131; }
    .breadcrumb li:after {
      color: #313131;
      font-size: 1em;
      font-weight: normal; }
    .breadcrumb li a:link {
      color: #313131;
      text-decoration: none; }
    .breadcrumb li a:hover {
      color: #646464; }
    .breadcrumb li a:visited {
      color: #313131; }
    .breadcrumb li a:active {
      color: #646464; }
    .breadcrumb li:last-child a:link {
      font-weight: normal; }
    .breadcrumb li:last-child a:hover {
      color: #313131; }

.breadcrumbProduct li:last-child a {
  cursor: pointer; }
  .breadcrumbProduct li:last-child a:hover {
    color: #646464; }

/* Homepage */
.homepageContainer {
  color: #767676; }
  .homepageContainer .prodThumbContainer {
    width: 300px;
    height: 300px; }

.logosCategoryHome {
  margin: 0 0 20px;
  padding: 0;
  text-align: center; }
  .logosCategoryHome ul {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 5px;
    display: inline-block; }
  .logosCategoryHome li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 123px;
    height: 123px;
    display: inline-block; }

.homepageContent .anythingSlider-default {
  display: inline-block;
  margin-right: 20px; }
.homepageContent h2 {
  margin-left: 1.3em; }

.homepageText {
  display: inline-block;
  width: 350px;
  text-align: right;
  vertical-align: top;
  font-size: 1.2em; }

.homepageDescription {
  text-align: left; }

/* Category & Product */
.headings {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: right;
  border-bottom: 1px solid #cccccc; }
  .headings div {
    display: inline-block; }
  .headings h1, .headings h2, .headings h3 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: bold; }
  .headings h1 {
    font-size: 3.2em;
    display: inline-block;
    font-weight: normal; }
  .headings h2 {
    margin-right: 0.2em;
    display: inline-block;
    color: #313131; }
  .headings h3 {
    color: #313131; }
  .headings a:link {
    text-decoration: none; }
  .headings a:link {
    color: #313131; }
  .headings a:hover {
    color: #646464; }
  .headings a:visited {
    color: #313131; }
  .headings a:active {
    color: #646464; }
  .headings .headingProductSubCategory a:link {
    color: inherit; }
  .headings .headingProductSubCategory a:hover {
    color: #646464; }

.headingProductNavcat {
  display: none; }

.categoryDefault {
  color: #313131; }

.categoryBoat {
  color: #0072b8; }

.categoryCable {
  color: #fcc300; }

.categoryFarm {
  color: #1b962b; }

.categoryPocket {
  color: #7d3f0c; }

.categoryPromo {
  color: #ff00fe; }

.categorySos {
  color: #e3001b; }

.content .productList, .content .subCategoryList {
  color: #6b6b6b;
  text-align: center; }
  .content .productList li, .content .subCategoryList li {
    float: none;
    text-align: left; }
  .content .productList img, .content .subCategoryList img {
    width: 230px;
    height: 230px; }
  .content .productList p, .content .subCategoryList p {
    font-size: 1.4em; }
  .content .productList h6, .content .subCategoryList h6 {
    font-size: 1.3em;
    font-weight: normal; }
.content .productList li {
  width: 230px;
  height: 230px;
  display: inline-block;
  vertical-align: top; }
.content .productExtras {
  text-align: left; }
  .content .productExtras .productListProductExtras {
    width: 182px;
    height: 182px;
    list-style: none;
    /* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
    overflow-y: auto;
    overflow-x: hidden; }
    .content .productExtras .productListProductExtras .prodThumbContainer {
      width: 180px;
      height: 180px; }
    .content .productExtras .productListProductExtras li {
      width: 180px;
      height: 180px; }
    .content .productExtras .productListProductExtras img {
      width: 180px;
      height: 180px; }
  .content .productExtras .anythingSlider {
    margin-bottom: 20px; }
.content .subCategoryList li {
  margin: 0 0 10px 0;
  display: block;
  text-align: center; }
.content .subCategoryList div {
  display: inline-block; }
.content .subCategoryList img {
  width: 200px;
  height: 200px; }
.content .subCategoryList h5, .content .subCategoryList p {
  padding-bottom: 0;
  margin-bottom: 0; }
.content .subCategoryList h5 {
  font-weight: bold; }
.content .subCategoryList .subCategory {
  height: 100%;
  display: block; }
  .content .subCategoryList .subCategory div {
    display: inline-block; }
.content .subCategoryList .subCategoryText {
  width: 400px;
  vertical-align: top;
  text-align: left; }
.content .productListCategory {
  padding: 10px 0; }

.productListWrapper {
  margin-bottom: 40px; }

.categoryProductHover, .categoryListHover {
  color: #383838; }
  .categoryProductHover h5, .categoryListHover h5 {
    color: #383838; }
  .categoryProductHover img, .categoryListHover img {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8; }

.categoryLogoHover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8; }

.prodThumbContainer {
  position: relative;
  width: 230px;
  height: 230px;
  border: 1px solid #cdcdcd; }
  .prodThumbContainer img {
    position: relative;
    z-index: -1; }
  .prodThumbContainer .productAttribute {
    margin: 0;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10; }
  .prodThumbContainer .productName {
    top: 0;
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url("images/arrow_cat.png");
    background-repeat: no-repeat;
    background-size: 0.6em;
    background-position: 0.5em 0.5em; }
    .prodThumbContainer .productName span {
      padding: 0.3em 0.3em 0.3em 1.32em;
      display: inline-block; }
  .prodThumbContainer .viewProductLink {
    bottom: 0;
    padding: 0.6em 0;
    font-size: 1.6em;
    background-color: #cdcdcd;
    background-color: rgba(205, 205, 205, 0.8);
    background-image: url("images/icon_search.png");
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: 1em center; }
    .prodThumbContainer .viewProductLink span {
      margin-left: 3em;
      display: inline-block; }

.categoryPageDescription {
  margin: 10px 0;
  font-size: 1.4em;
  line-height: 1.5em; }

.categoryDescription p {
  font-size: 1.6em; }
.categoryDescription div {
  margin-bottom: 1em; }

.categoryImageEven {
  float: left;
  margin-right: 8px; }

.categoryImageOdd {
  float: right;
  margin-left: 8px; }

/* Product */
.productSpecsContainer {
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 1px solid #cccccc;
  color: #313131; }
  .productSpecsContainer .breadcrumb {
    float: right; }

.productSpecsTop {
  margin-bottom: 5px; }
  .productSpecsTop .productName {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 2.7em;
    line-height: 1em; }

.productSpecsMiddle {
  margin-bottom: 5px;
  text-align: right; }

.productSpecsBottom {
  text-align: right;
  display: block; }
  .productSpecsBottom div {
    margin-top: 1.2em; }
  .productSpecsBottom span {
    font-size: 1.2em; }
  .productSpecsBottom ul {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    list-style: none; }
    .productSpecsBottom ul li {
      list-style: none;
      margin: 0;
      margin-right: 0.8em;
      padding: 0;
      float: left; }
      .productSpecsBottom ul li:after {
        margin: 0;
        padding: 0;
        margin-left: 0.8em;
        content: "|"; }
      .productSpecsBottom ul li:last-child {
        margin-right: 0; }
        .productSpecsBottom ul li:last-child:after {
          content: "";
          margin-left: 0; }
  .productSpecsBottom a:link {
    text-decoration: none;
    color: #313131; }
  .productSpecsBottom a:hover {
    color: #646464; }
  .productSpecsBottom a:visited {
    color: #313131; }
  .productSpecsBottom a:active {
    color: #646464; }

.productSpecsList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.6em;
  font-size: 1.6em;
  line-height: 1.4em;
  float: left;
  width: 700px; }
  .productSpecsList li {
    list-style: none;
    margin: 0;
    margin-right: 0.8em;
    padding: 0;
    float: left; }
    .productSpecsList li:after {
      margin: 0;
      padding: 0;
      margin-left: 0.8em;
      content: "|"; }
    .productSpecsList li:last-child {
      margin-right: 0; }
      .productSpecsList li:last-child:after {
        content: "";
        margin-left: 0; }
  .productSpecsList .pretext {
    text-transform: uppercase;
    font-weight: bold; }

.productID {
  font-size: 2.2em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: inline-block; }
  .productID:after {
    content: ":\00a0"; }

.productPrice {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1em;
  display: inline-block; }

.prodViewerAddToCartForm {
  font-size: 1.2em; }

.productViewContainer {
  margin-bottom: 20px;
  vertical-align: top;
  width: 100%;
  height: 100%; }

.productImageContainer {
  display: inline-block;
  vertical-align: top;
  width: 342px;
  height: 100%;
  margin-right: 10px; }

.productImage img {
  border: 1px solid gray; }

.productImagePrimary {
  margin-bottom: 10px; }

.prodThumbs {
  text-align: center; }
  .prodThumbs div {
    display: inline-block; }
  .prodThumbs .productImage {
    margin: 0 14px 0 0; }
  .prodThumbs .productImageLast {
    margin: 0; }

.productDetailsContainer {
  display: inline-block;
  vertical-align: top;
  color: #454545;
  width: 454px;
  height: 100%; }

.productDetailsList {
  margin: 0 0 3.5em;
  padding: 0;
  list-style: none; }
  .productDetailsList li {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 0.6em 0;
    padding: 0;
    text-transform: uppercase; }

.productDescription p {
  font-size: 1.4em;
  line-height: 1.6em; }
.productDescription ul, .productDescription li {
  list-style-position: inside; }
.productDescription ul {
  margin: 0;
  padding: 0; }
.productDescription li {
  font-size: 1.2em; }

/* Wholesale contact form*/
.contactFormWholesale {
  float: left;
  margin: 0 0 12px 12px; }
  .contactFormWholesale fieldset {
    border: 1px solid #cccccc;
    padding: 10px; }
  .contactFormWholesale div {
    margin-bottom: 5px; }
  .contactFormWholesale label {
    width: 105px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    text-align: right; }
  .contactFormWholesale input, .contactFormWholesale textarea {
    width: 145px; }
  .contactFormWholesale textarea {
    height: 125px; }
