/* # Project Styles */

/* Blue Collar Depot - CSS */

/* universal */

aside,
details,
footer,
header,
nav,
section {
  display: block;
}

html {
  overflow-y: auto;
  /*padding-top: 0;*/
  /*margin-top: 0;*/
}

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}

section {
  overflow: auto;
}

/*textarea {
  resize: vertical;
}*/

img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* typography */

html {
  font-size: 16px;
  text-align: left;
}

body {
  font-size: 62.5%; /* 10px */
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
}

h1, h2, h3, h4, h5, h6 {
 /* color: ;
  font-family: ;*/
  font-weight: bold;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

p {
 /* color: ;
  font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/
  font-weight: normal;
}

h2 {
  font-size: 1.8em;
  line-height: 1.8em;
  letter-spacing: -1px;
  /*text-align: left;*/
  font-weight: normal;
  /*color: ;*/
  /*display: block;*/
}

h3 {
  font-size: 1.6em;
  line-height: 1.6em;
  /*color: ;*/
  font-weight: normal;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

h4,
h5,
h6 {
  font-size: 1.3em;
  line-height: 1.5em;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0;
  /*font-size: 1.1em;*/
  /*line-height: 1.1em;*/
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  /*line-height: 1.3em;*/
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
  /*color: ;*/
}

a {
  &:link {

  }
  &:visited {

  }
  &:hover {

  }
  &:active {

  }
}

/* General */

.container {
  width: 1121px; /* TODO: Find correct width */
  margin: 0 auto;
  position: relative;
  table {
    margin: 0 auto;
  }
}

.displayBlock {
  display: block;
}


// TODO: make compatible with ie; http://css-tricks.com/snippets/css/css-box-shadow/

/*.shadowBottomOuter {
  -webkit-box-shadow: 0 3px 3px 2px #999;
     -moz-box-shadow: 0 3px 3px 2px #999;
          box-shadow: 0 3px 3px 2px #999;
}

.shadowBottomInner {
  -webkit-box-shadow: inset 0 -4px 4px -2px #999;
     -moz-box-shadow: inset 0 -4px 4px -2px #999;
          box-shadow: inset 0 -4px 4px -2px #999;
}*/

/* Header */

header {
  height: 374px;
  // background: url("images/banner_bg_product.png") no-repeat; // TODO: change per category
}

.bannerHome {
  background: url('images/banner_bg_home.png') no-repeat;
}

.bannerCategoryBoat {
  background: url('images/banner_bg_boat.png') no-repeat;
}

.bannerCategoryCable {
  background: url('images/banner_bg_cable.png') no-repeat;
}

.bannerCategoryFarm {
  background: url('images/banner_bg_farm.png') no-repeat;
}

.bannerCategoryPocket {
  background: url('images/banner_bg_pocket.png') no-repeat;
}

.bannerCategoryPromo {
  background: url('images/banner_bg_promo.png') no-repeat;
}

.bannerCategorySos {
  background: url('images/banner_bg_sos.png') no-repeat;
}

/* Navigation */

/* Top navigation */

.navSeparator:after {
  margin: 0 0 0 1.6em;
  content: '/';
}

// .navTopWrapper {
//   padding: 0 7px;
//   display: inline-block;
//   background: #cdcccc; 
// }

.navTop {
  margin: 0;
  padding: 0 7px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 5;
  /*display: block;*/
  /*background-color: black;*/
  /*TODO: maybe add width/height instead of let elements make dims;*/
  display: inline-block;
  background: #cdcccc; 
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  li  {
    /* BUG: space inbetween li's */
    /*float:left;*/
    margin: 0;
    padding: 1em 0.8em;
    display:inline-block;
    /*background-color: blue;*/
    font-size: 1.1em;
    color: black;
  }
  a {
    &:link {
      /*TODO: edit colors*/
      color: black;
      text-decoration: none;
    }
    &:visited {
      color: black;
      text-decoration: none;
    }
    &:hover {
      color: blue;
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
}

.socialBox {
  margin-left: 5px;
}

.socialIcon {
  margin: 0;
  width: 32px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  /*z-index: 10;*/
}

.socialIconFacebook{
  background: url('images/icon_facebook.png') no-repeat;
}

.socialIconTwitter{
  background: url('images/icon_twitter.png') no-repeat;
}

/* Menu navigation */

$menuOffset: -35px;

.sidebar {
  // display: inline-block
  float: left;
  position: relative;
  top: $menuOffset;
  margin-bottom: $menuOffset;
  margin-right: 10px;
  padding-left: 50px;
  // display: inline-block;
  // top: 340px;
  // left: 30px;
  a {
    &:link, &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover, &:active {
      color: gray;
      text-decoration: none;
    }
  }
}

.navMenu {
  width: 200px;
  padding: 10px 10px;
  background: #101010;
  color: white;
  h2 {
    margin: 0 0 1em;
    padding: 0;
    /*margin: 0;
    padding: 0.8em 0.8em;*/
    font-size: 1.6em;
    line-height: 1em;
    font-weight: bold;
  }
  ul, li {
    list-style: disc inside; /*TODO: add diamond;*/
    // display: block;
    margin: 0;
    padding: 0;
  }
  ul {
    display: block;
    div {
      display: inline-block;
    }
    a {
      &:link {
        text-decoration: none;
      }
      &:visited {
        color: #333; /*TODO: get right colors*/
        text-decoration: none;
      }
      &:hover {
        color: #111; /*TODO: get right colors*/
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
    }
  }
  li {
    margin-bottom: 1em;
    padding: 0.3em;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  ul li ul { // product list
    display: none;
    li {
      margin: 0.5em 0 0.4em 1em;
      padding: 0.2em 0.3em;
      // width: auto; // to clear qs_styles
      height: auto; // to clear qs_styles
      display: block;
      background: #565555;
      color: white;
      font-size: 1.1em;
      text-transform: none;
      .appMessage { // hide missing products TODO: find better way to hide errors/missing products
        display: none;
      }
    }
  }
}

$logoCategoryOffset: -40px;

#logoCategory {
  width: 123px;
  height: 123px;
  position: relative;
  top: $logoCategoryOffset;
  margin: 0 auto ($logoCategoryOffset + 10px);
  // background: white;
  text-align: center;
}

.logoCategoryBoat {
  background: url('images/logo_cat_boat.png') no-repeat;
}

.logoCategoryCable {
  background: url('images/logo_cat_cable.png') no-repeat;
}

.logoCategoryFarm {
  background: url('images/logo_cat_farm.png') no-repeat;
}

.logoCategoryPocket {
  background: url('images/logo_cat_pocket.png') no-repeat;
}

.logoCategoryPromo {
  background: url('images/logo_cat_promo.png') no-repeat;
}

.logoCategorySos {
  background: url('images/logo_cat_sos.png') no-repeat;
}

.searchForm {
  // TODO: edit after adding form
  margin-bottom: 20px;
  width: 150px;
  height: 20px;
  background: white;
  color: black;
}


$pdfIconSize: 20px;
.pdfLink {
  // width: 30px;
  height: $pdfIconSize;
  // margin: 10px 0 0;
  padding-left: $pdfIconSize + 5px;
  display: inline-block;
  background: url('images/icon_pdf.png') no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  line-height: $pdfIconSize;
  // line-height: 1em;
  vertical-align: middle;
}

.wholesaleInfo {
  margin: 10px auto 0;
  background: url('images/wholesale_bg.png') no-repeat;
  font-size: 14px;
  // line-height: 1.2em;
  text-align: center;
  width: 214px;
    height: 125px;
  span {
    display: block;
  }
  a {
    display: block;
  }
}

$wholesalePadtop: 10px;

.wholesaleInfoTop {
  height: 85px - $wholesalePadtop;
  padding-top: $wholesalePadtop;
  font-size: 18px;
  font-weight: bold;
  strong {
    font-size: 24px;
  }
}

// .wholesaleInfoBottom {
//   // height: 60px;
//   // font-size: 30px;
// }

/* Logo */

.logoTop {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 6;
  display: inline-block;
  /*width: 200px;
  height: 150px;*/
  /*background-color: gray;  TODO: add image bg; */
  /*float: left;*/
}

/*.logoTop a {
  width: 300px;
  height: 125px;
  display: inline-block;
}*/

/* Content */

.content {
  /*vertical-align: top;*/
  width: 800px;
  display: inline-block;
  /*padding-left: 10px;*/
}

/* Footer */

footer {
  margin-top: 20px;
}

.footerBoxesWrapper {
  padding: 1.2em 3.6em;
  background: #dddddd;
}

.footerBox {
  margin: 0 1.2em;
  padding: 0 1.2em;
  width: 12em;
  height: 12em; /*TODO: maybe add something more fluid;*/
  vertical-align: top;
  display: inline-block;
  background: #f0f0f0;
  color: #454545;
  border-radius: 0.4em;
  /*text-align: center;*/
}

.footerBox h3, 
.footerBox h4 {
  margin: 0.2em 0 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: 1em;
  /*text-align: left;*/
}

.footerBox li {
  margin: 0 0 0.9em;
  padding: 0;
  font-size: 1em; /* 10px */
  line-height: 1em;
  list-style: square inside url("images/arrow_list.png");
  /*text-align: left;*/
}

.footerBox a:link {
  text-decoration: none;
  color: #454545;
  /*color:;*/
}

.footerBox a:visited {
  text-decoration: none;
  color: #454545;
}

.footerBox a:hover {
  text-decoration: none;
  color: black;
}

.footerBox a:active {
  text-decoration: none;
  color: black;
}

.copyright {
  text-align: center;
  color: #545454;
  font-size: 0.9em;
}